.home_container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .centered {
    text-align: center;
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
  }
  
  .btn {
    padding: 10px 20px;
  }

  .btn-color , input[type="submit"]{
    background-color: #3778c2;
    margin: 0 1rem;
    border: none;
    color: white;
  }

  .btn-color:hover,
  input[type="submit"]:hover {
    background-color: #2a5e9c;
  }

  .app-bg-color {
    background-color: #3778c2;
  }

  .white {
    color: white;
  }

  .white:hover {
    color: white;
  }

  .navbar {
    padding: 0;
  }

  .field {
    padding: 0 1rem;
  }

  .forgot_pass {
    margin-top: 1rem;
    text-align: center;
  }

  .forgot_password {
    text-decoration: none;
  }