 
 <div class="wrapper">
 <nav class="navbar app-bg-color">
  <div class="container">
    <div class="navbar-nav mr-auto">
      <a class="nav-link white" href="/"><i style="font-size: 1.8rem;" class="bi bi-arrow-left-short"></i></a>
    </div>

    <div class="navbar-nav mx-auto">
      <a class="nav-link white"><%= @expense.name %> </a>
    </div>

    <div class="navbar-nav ml-auto">
    <a class="nav-link white" href="/"><i style="font-size: 1.8rem;" class="bi bi-search"></i></a>
    </div>
  </div>
</nav>
   
    <div class="cat_content mb-5">
         <div class="total_categories">
            <p><%=@expense.name %> </p>
            <p> $ <%= @expense.amount %> </p>
         </div>

  </div>